


<div class="wrapper">


<h3 class="page_title">本一覧</h3>

    <% @books.each do |book| %>

        <%= link_to book_path(book.id) , class: "index_wrap" do %>
            <div class="index_list_wrap">
                <div class="index_image_wrap">
                    <%= image_tag book.image , class: "index_image" %>
                </div>
                
                <div>
                    <p class="index_list_title">『&nbsp;<%= book.title%>&nbsp;』</p>
                    <p class="index_auther"><span class="ml-15"><%= book.author %></span><span class="ml-10">著</span></p>
                    <div class="index_status_wrap">

                        <% if current_user.nil? && !@lending_books.find_by(book_id: book).nil?%>
                            <p>貸出中</p>
                        <% elsif current_user.nil? && @lending_books.find_by(book_id: book).nil? %>
                            <p>貸出受付中</p>
                        <% end %>

                        <%#<% if !current_user.nil? && !@reservation_books.find_by(book_id: book).nil? %>
                            <%#<p>予約中</p>
                        <%#<% end %>

                          <%# userログイン中 %> 
                        <% if !current_user.nil? && current_user.status == 1 %>

                            <% if !@lending_books.find_by(book_id: book).nil? %>
                                <p>貸出中</p>
                            <% elsif %>
                                <p>貸出受付中</p>
                            <% end %>

                            <% if !@reservation_books.where(user_id:current_user.id ,book_id: book).empty? %>
                                <p>予約中</p>
                            <% end %> 

                        <% end %>

                        <%# adminログイン中 %> 
                        <% if !current_user.nil? && current_user.status == 0 %>
                            
                            <% if !@lending_books.where(book_id: book).empty? %>
                                <p><span style="margin-left:-4px; border-radius : 3px 0 0 3px ; padding:5px ; color:#fff ; background-color: palevioletred;">貸出中</span>
                                    <span style="font-weight:bold; margin:0 3px;"></span><%= @lending_books.find_by(user_id: @users).user.name %>
                                    <span style="font-weight:bold; margin:0 3px;"></span><%= @lending_books.find_by(user_id: @users).user.email %>
                                </p>
                            <% end %>

                            <% if !@reservation_books.where(book_id: book).empty? %>
                                <p>予約中</p>
                            <% end %>

                        <% end %>

                    </div>
                </div>
            </div>
        <% end %>

    <% end %>
</div>
