<h2>本一覧 > <%= @book.title %> </h2>
<h1> <%= @book.title %> </h1>
<% if @book.image.attached? %>
    <%= image_tag @book.image.variant(:display) %>
<% end %>

<p>貸出可能 or 貸出中</P>

<%# <%= form_with url: reservations_path, local: true do |f| %> %>
<%= form_with model: @reservation, action: "", local: true do |f| %>
<%= f.date_field :reserved_start, class: 'form-control' %>から
<%= f.date_field :reserved_end, class: 'form-control' %>まで
<%# book_idをhiddenで送る %>
<%= f.hidden_field :book_id, :value => params[:id] %>

<%= f.submit "借りる",{formaction: lendings_path, class: "btn btn-primary"} %>
<%= f.submit "予約する", class: "btn btn-primary" %>
<% end %>

<p>以下の予定が入っています。</p>
<p>日程が被らないように貸出・予約をしましょう。</p>
<p>2023-02-19 ~ 2023-02-22</p>
<p>2023-02-24 ~ 2023-03-01</p>

