<h3>借りた本一覧</h3>

<% if !@lending_books.nil? %>
    <% @lending_books.each do |lending_book| %>
        <%= link_to lending_path(lending_book.book_id) do %>
            <div class="index_list_wrap">
                <div class="index_image_wrap">
                    <%= image_tag lending_book.book.image , class: "index_image" %>
                </div>
                <div>
                    <p class="index_list_title">『&nbsp;<%= lending_book.book.title%>&nbsp;』</p>
                    <p class="index_auther"><span class="ml-15"><%= lending_book.book.author%></span><span class="ml-10">著</span></p>
                </div>
                <div>
                    <%= lending_book.lend_date %>
                </div>
                <div>
                    <%= lending_book.lend_date %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>