<p>
    <%= image_tag @lending_book.book.image %>
    <%= @lending_book.book.title %>
    <%= @lending_book.book.author %>
    <%= button_to "本を返却する", {controller: "lendings", action: "edit"}, {method: :get} %>
    <%= @lending_book.lend_date %>
    <%= @lending_book.return_date %>
</p>