<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

 <%
=begin%>
 ログアウト時に必要  
<%
=end%>

    <%
=begin%>
 <%= link_to "Log out", destroy_user_session_path,data: {"turbo-method": :delete}%> 
<%
=end%>
    <%= yield %>
  <script type="text/javascript">
    const password = document.getElementById('user_password');
    const toggle = document.getElementById('toggle_password');

    function passwordShowHide(){
      if(password.type === 'password'){
        password.setAttribute('type','text');
        toggle.nextElementSibling.textContent = 'パスワードを非表示にする';
      } else {
        password.setAttribute('type','password');
        toggle.nextElementSibling.textContent = 'パスワードを表示する';
      }
    }
  </script>
  </body>
</html>
