<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# 本の登録をした際にフラッシュを表示させる %>
    <div class="container">
        <% if flash.notice.present? %>
            <div class="alert alert-success">
                <%= flash.notice %>
            </div>
        <% else %>
            <div class="alert alert-success">
                <%= flash.alert %>
            </div>
        <% end %>
    </div>

    <%= render 'devise/shared/notifications' %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "ログアウト", destroy_user_session_path,data: {"turbo-method": :delete} %>

    <%= yield %>

    <%
=begin%>
 <script>
      function fadeout(){  
        document.querySelector(`#item`).animate(
          [
            { opacity: 0 },
            { opacity: 1 }
          ],
          {
            duration: 3000,
            fill: 'forwards'
          }
        );
          };
    </script> 
<%
=end%>
  </body>
</html>
